.with-progress-reading-bar {
  max-width: 50%;
  background-color: azure;
  margin: auto;
}

.progressBar {
  height: 10px;
  width: 1%;
  background-color: red;
  position: fixed;
}

.readStart {
  height: 10px;
  background-color: blueviolet;
}

/* .main-div {
  background-color: red;
} */

.reading-progress-fill {
  position: fixed;
  width: 25%;
  height: 5px;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 10px;
  width: 0;
  background-color: red;
  position: sticky;
}
